<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projekt</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="masthead clearfix">
            
            <div class="masthead-brand">
            <a href="./"><h1>
            <img class="img-circle" src="http://placehold.it/100x100" alt="logo" >  Projekt</h1>
            </a>
            </div> 

            <ul class="nav masthead-nav">
                <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#services">Services</a>
            </li>
            <li><a href="#portfolio">Portfolio</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
             <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Karty GitHub <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">Credits #9</a>
                            </li>
                            <li><a href="reg.html">Registracia #12</a>
                            </li>
                            <li><a href="index_login.html">Index_Login</a>
                            </li>
                            
                        </ul>
                    </li>
                  <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Sign In <span class="caret"></span>
                      </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="index.html#login">Login</a></li>
                          <li><a href="reg.html">Register</a></li>
                        </ul>
                  </div>
        </ul>                       
            
        </div>
        
 <div class="container">       
    <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Registracia
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Registracia</li>
                </ol>
            </div>

        </div>    
           <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="reg-page">
                <div class="reg-header">
                    <h2>Register a new account</h2>
                    <p>Already Signed Up? Click <a href="index.html#login" class="color-green">Sign In</a> to login your account.</p>                    
                </div>

                <label>Email <span class="color-red">*</span></label>
                <input type="text" class="form-control margin-bottom-20" placeholder="Email">
           
                <div class="row">
                    <div class="col-sm-6">
                        <label>Password <span class="color-red">*</span></label>
                        <input type="text" class="form-control margin-bottom-20" placeholder="password">
                    </div>
                    <div class="col-sm-6">
                        <label>Confirm Password <span class="color-red">*</span></label>
                        <input type="text" class="form-control margin-bottom-20" placeholder="password">
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group has-error has-feedback">
                        <label class="control-label" for="inputError2">Input with error</label>
                        <input type="text" class="form-control" id="inputError2">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                      </div>
                     </div>
                </div>
                
                <label>Celé meno</label>
                <input type="text" class="form-control margin-bottom-20" placeholder="Celé meno">

                <label>O mne</label>
                <input type="text" class="form-control margin-bottom-20" placeholder="O mne">
                
                <label>Skúsenosti</label>
                <input type="text" class="form-control margin-bottom-20"> 
                
                <label>Referencie</label>
                <input type="text" class="form-control margin-bottom-20">
                
                
                <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <label class="checkbox">
                            <input type="checkbox"> 
                            I read <a href="page_terms.html" class="color-green">Terms and Conditions</a>
                        </label>                        
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-primary" type="submit">Register</button>                        
                    </div>
                </div>
            </form>
        </div>
    </div>

            
           
           dobry login
           <div class="alert alert-success">
      <strong>Super !</strong> Vaša regitrácia prebehla úspešne.
    </div>
              
              zly login
              <div class="alert alert-danger">
      <strong>Ooh !</strong> Zmenťe niektoré veci a skúste odoslať registráciu ešte raz.
    </div>
              
              
  </div>       
              
  <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <div class="headline"><h2>About Us</h2></div>
                
                </div>
                <div class="col-md-4 ">
                    <div class="headline"><h2>Feed</h2></div>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-3x"></a></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-4 col-xs-4">
                <div class="headline"><h2>login in</h2></div>
                <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
                </div>
                
                <div class="top-scroll">
                        <a href="#top"><span class="glyphicon glyphicon-chevron-up"><strong>Top</strong></span></a>
                        
                    </div>
                    
              <hr>
                    <p>Copyright &copy; Company 2013</p>      
                    
            </div> 
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
