{block content}

        {if !$user->isLoggedIn()}
            {control signInForm}
        {else}
            <a n:href="signOut!"> logout </a>
        {/if}
        <hr />
        Prihlásený: {$user->isLoggedIn() ? 'ano' : 'nie'}
        <hr />
            {control registerForm}

{/block}