<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-template-->
	<title>{block title|striptags}{/block}</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="stylesheet" href="{$basePath}/css/StyleSheet.css">
        <link href="{$basePath}/css/template/bootstrap.css" rel="stylesheet">
        <link href="{$basePath}/css/template/carousel.css" rel="stylesheet">
        <link href="{$basePath}/css/template/cover.css" rel="stylesheet">
        <link href="{$basePath}/css/template/portfolio.css" rel="stylesheet">
        <link href="{$basePath}/css/template/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{$basePath}/logo.ico">
	{block head}{/block}
</head>
<body>
	<script> document.documentElement.className+=' js' </script>
           <div class="container" id="top"> 
       <div class="col-md-4 col-lg-4 col-xs-4">
          <div class="masthead-brand">
            <a n:href="Homepage:"><h1>
            <img class="img-circle" src="http://placehold.it/100x100" alt="logo" > TeamUnit.eu</h1>
            </a>
          </div>
       </div>
       <div class="col-md-2 col-lg-2"></div>
       <div class="col-md-7 col-lg-8 col-xs-12">
          <ul class="nav masthead-nav">
            <li><a n:href="Projekt:"><span class="glyphicon glyphicon-list"></span> Projekty</a></li>
	          {if !$user->isLoggedIn()}                              
		          <li><a n:href="Registracia:">Registrácia</a></li>
	              <li><a href="#login">Prihlásenie</a></li>
	          {else}                
	            <li><a n:href="Profil:detail $user->id"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
	            <li><a n:href="signOut!"><span class="glyphicon glyphicon-remove"></span> Odhlásenie</a></li>
	          {/if}
          </ul>                       
         </div>
    </div>
	<div class="container"> <!-- container -->
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
	</div> <!-- container -->
        {include content}
    <!-- Footer -->
    <footer>
        <div class="container"> <!-- container -->
            <div class="row"> <!-- row -->
                <div class="col-md-4 col-xs-6" n:if="!$user->isLoggedIn()">
                <div class="headline"><h2>O nás</h2></div>
				<p>
					TeamUnit je bezplatná aplikácia vyvinutá skupinou študentov informatiky
					na UMB umožňujúca zúčastniť sa na tímovom projekte alebo ho priam riadiť online.
					Používateľ má možnosť pridať sa do vytvoreného projektu (tímu), kde môže 
					sledovať progres úloh ostatných členov, pričom môže zadať novú úlohu pre kolegov. 
					Komunikácia medzi členmi tímu je zabezpečená pomocou diskusie pri každej úlohe.
				</p>
                </div>
                <div class="col-md-4 col-xs-6" n:if="!$user->isLoggedIn()">
                    <div class="headline"><h2>Sociálne siete</h2></div>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                        <li><i class="fa fa-message fa-3x"></i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-6" n:if="!$user->isLoggedIn()">
                    <div id="login" class="headline"><h2>Prihlásenie</h2></div>
                              {form signInForm}
                                  {input email}
                                  {input password}
                                  {input remember}  
                                  {input send}
                              {/form}
                </div>
              <div class="col-md-12 col-xs-12">  
                <div class="top-scroll">
                      <a href="#top">
                        <span class="glyphicon glyphicon-chevron-up">
                          <strong>Hore</strong>
                        </span>
                      </a>
                  <br />                        
                </div>
                  <hr>
                    <p>Copyright &copy; Company 2014 | <a n:href="About:">Autori</a></p>      
              </div>      
            </div> <!-- row -->
        </div>  <!-- container -->
    </footer>
    <!-- /Footer -->
        {block scripts}
	<script src="{$basePath}/js//jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>