body{
    background-image:url('../images/line.png');
    background-repeat: repeat-x;
    background-color: #3683cf;
}

#topTable{
    position:relative;
    top:-15px;
    left: 73px;
}
#bottomTable{
    position:relative;
    top:-15px;
    left: 73px;
}

#projectName{
    color: brown;
    font-family: "Calibri";
    font-weight: 800;
    font-size: 55px;
}

input[type=text],input[type=password],input[type=checkbox] {
    border: 3px solid brown;
    border-radius: 10px;   
    font-size: 15px;
    padding-left: 15px;
}
input[type=submit]{
    border: 3px solid brown;
    border-radius: 10px;   
    font-size: 15px;
    padding: 0px 10px;
}

input[type=text]:focus,input[type=password]:focus {
    border: 3px solid #3683cf;
}
input[type=submit]:hover{
    border: 3px solid #3683cf;
}

#nette-debug-bar { display: none }
#nette-debug-bar:target { display: block }
